/* theme.css */

:root {
  --primary-color: #780CC6;
  --primary-color-dark: #8E0FED;
  --secondary-color: #d1e9f8;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --white: #ffffff;
  --max-width: 1600px;
}